<!-- Page Content -->
<div class="page-heading products-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-content">
                    <h4>new arrivals</h4>
                    <h2>Best Offer</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="products">
    <div class="container">
        <div class="row">
            {{#if this.empty}}
                <h5 class="card-title">Empty data</h5>
                <p class="card-text">With support text below as a natural lead-in
                    to additional content</p>
            {{else}}
                {{#each this.products}}
                    <div class="col-sm-4 mb-3 des popular">
                        <div class="card h-100">
                            <img src="{{image}}" title="{{name}}" width="250px" height="250px">
                            <div class="card-body">
                                <h4 class="card-title">{{name}}</h4>
                                <h5 class="card-title text-danger">Current Price: {{format_number current}}</h5>
                                <p class="card-text">Bidder: {{info}}</p>
                                <p class="card-text">Date Post: {{start}}</p>
                                <p class="card-text">Time Remaining: <span style="font-weight: bold;font-size: 20px"
                                                                           id={{id}}></span></p>
                                <script>
                                    // Set the date we're counting down to
                                    var countDownDate = new Date("{{end}}").getTime();

                                    // Update the count down every 1 second
                                    var x = setInterval(function () {

                                        // Get today's date and time
                                        var now = new Date().getTime();

                                        // Find the distance between now and the count down date
                                        var distance = countDownDate - now;

                                        // Time calculations for days, hours, minutes and seconds
                                        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                                        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                                        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                                        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                                        // Display the result in the element with id="demo"
                                        document.getElementById({{id}}).innerHTML = days + "d " + hours + "h "
                                                + minutes + "m " + seconds + "s ";

                                        // If the count down is finished, write some text
                                        if (distance < 0) {
                                            clearInterval(x);
                                            document.getElementById({{id}}).innerHTML = "EXPIRED";
                                        }
                                    }, 1000);
                                </script>
                                <p class="card-text">Bids: {{bids}}</p>
                                {{#if cap}}
                                    <p class="card-text">Buy now:{{format_number cap}}</p>
                                {{/if}}
                            </div>
                            <div class="card-footer text-muted">
                                <a class="btn btn-sm btn-outline-primary"
                                   href="#" role="button">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                    Details
                                </a>
                            </div>
                        </div>
                    </div>
                {{/each}}
                <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-end">
                          <li class="page-item {{#unless can_go_prev}} disable {{/unless}}">
                            <a class="page-link" href="?page={{prev_val}}">Previous</a>
                          </li>
                          {{#each this.pageNumbers}}
                            {{#if isCurrent}}
                              <li class="page-item active">
                                <a class="page-link" href="javascript:;">{{value}}</a>
                              </li>
                            {{else}}
                              <li class="page-item">
                                <a class="page-link" href="?page={{value}}">{{value}}</a>
                              </li>
                            {{/if}}
                          {{/each}}
                          <li class="page-item {{#unless can_go_next}} disable {{/unless}}">
                            <a class="page-link" href="?page={{next_val}}">Next</a>
                          </li>
                        </ul>
                      </nav>
            {{/if}}
        </div>
    </div>
</div>
</div>
<!-- Bootstrap core JavaScript -->
<script src="/public/vendor/jquery/jquery.min.js"></script>
<script src="/public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Additional Scripts -->
<script src="/public/assets_layout/js/custom.js"></script>
<script src="/public/assets_layout/js/owl.js"></script>
<script src="/public/assets_layout/js/slick.js"></script>
<script src="/public/assets_layout/js/isotope.js"></script>
<script src="/public/assets_layout/js/accordions.js"></script>

<script language="text/Javascript">
    cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
    function clearField(t) {
        //declaring the array outside of the
        if (!cleared[t.id]) {
            // function makes it static and global
            cleared[t.id] = 1; // you could use true and false, but that's more typing
            t.value = ""; // with more chance of typos
            t.style.color = "#fff";
        }
    }
</script>