<link rel="stylesheet" href="/assets/css/profile.css">
<link rel="stylesheet" href="/assets/css/profile-edit-form.css">
<link rel="stylesheet" href="/assets/css/projects-horizontal.css">
<main>
<div href="/assets/css/Profile.css" class="container bootstrap snippets" style="margin-top:2%">
<div class="row" id="user-profile">
    {{#with session.user}}
        <div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
            <div class="card p-4">
                <div class="image d-flex flex-column justify-content-center align-items-center">
                    <button class="btn">
                        <img src="https://cdn-icons-png.flaticon.com/512/147/147144.png" height="100" width="100"/>
                    </button>
                    <span class="name mt-3">{{name}}</span>
                    <span class="idd">{{email}}</span>
                    <div class="d-flex flex-row justify-content-center align-items-center gap-2">
                        <span class="idd1">{{privilege}}</span>
                    </div>
                    <div>{{address}}</div>
                    <div class="d-flex flex-row justify-content-center align-items-center mt-3 ">
                        <span class="number">{{rating}}</span>
                    </div>
                    <span>
                         <i class="fa fa-star" style="color: #d0d01b" aria-hidden="true"></i>
                        <i class="fa fa-star" style="color: #d0d01b" aria-hidden="true"></i>
                         <i class="fa fa-star" style="color: #d0d01b" aria-hidden="true"></i>
                    <i class="fa fa-star" style="color: #d0d01b" aria-hidden="true"></i>
                         <i class="fa fa-star" aria-hidden="true"></i>
                    </span>
                    <div class="d-flex mt-2">
                        <a class="btn btn-sm btn-outline-success"
                           href="/account/editprofile" role="button">
                            Edit Profile
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="d-flex mt-2">
                        <a class="btn btn-sm btn-outline-success"
                           href="/account/changepassword" role="button">
                            Change Password
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                    </div>

                    <div class="text mt-3">

            <span>GPA.com, Inc. is an Viet Name multinational technology company.<br/><br/>
              E-commerce, cloud computing, digital streaming, and artificial intelligence
            </span>
                    </div>
                    <div class=" gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center">
                        <span><i class="fa fa-twitter"></i></span>
                        <span><i class="fa fa-facebook-f"></i></span>
                        <span><i class="fa fa-instagram"></i></span>
                        <span><i class="fa fa-linkedin"></i></span>
                    </div>
                    <div class="px-2 rounded mt-4 date">
                        <span class="join">Joined Dec,2021</span>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-top:2%; margin-left:2%;margin-right:2%">
            <ul class="nav nav-tabs">
                {{#if ../session.authenticated}}
                    {{#if (equal ../session.user.privilege "bidder")}}
                        <li class="nav-item"><a class="nav-link active" role="tab" data-toggle="tab"
                                                href="#tab-1">Watch List</a></li>
                        <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab"
                                                href="#tab-2">Bidding Product</a></li>
                        <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-3">Won
                            Product</a></li>


                        {{#if (equal ../session.user.request  null)}}
                            <li>
                                <form method="POST">
                                    <button class="btn btn-outline-warning" type="submit"
                                            formaction="/account/upgrade/{{id}}">Upgrade to
                                        Seller
                                    </button>
                                </form>
                            </li>
                        {{/if}}


                    {{else}}
                        {{#if (equal ../session.user.privilege "seller")}}
                            <li class="nav-item"><a class="nav-link active" role="tab" data-toggle="tab"
                                                    href="#tab-1">Watch List</a></li>
                            <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab"
                                                    href="#tab-2">Bidding Product</a></li>
                            <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab"
                                                    href="#tab-3">Won Product</a></li>
                            <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab"
                                                    href="#tab-4">Ongoing Listed Items</a></li>
                            <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab"
                                                    href="#tab-5">Ended Listed Items</a></li>
                        {{/if}}
                    {{/if}}
                {{/if}}
            </ul>
            <div class="tab-content">
                {{#if (equal ../session.user.privilege "bidder")}}

                    <div class="tab-pane active" role="tabpanel" id="tab-1">
                        <div class="projects-horizontal">
                            <div class="container">
                                <div id="watchList" class="row projects">
                                    {{#each ../watchlist}}
                                        <div class="col-6 col-sm-6 col-lg-3">
                                            <a href="/detail/{{id}}">
                                                <img src="{{image}}" class="rounded img-fluid m-1" alt="image">
                                                <h5 class="text-center">{{name}} {{{new start}}}
                                                    {{#unless (equal status "bidding")}} <b>({{status}})</b>
                                                    {{/unless}}</h5>
                                                {{#if info }}
                                                    <p class="text-center m-0">{{{masked info}}}</p>
                                                {{else}}
                                                    <p class="text-center m-0">&nbsp; &nbsp;</p>
                                                {{/if}}
                                                <div class="clearfix">
                                                    <p class="float-left m-0">{{format_number cap}}</p>
                                                    <p class="float-right m-0">{{bids}} Bids</p>
                                                </div>
                                                <div class="clearfix">
                                                    <p class="float-left m-0">{{{time start}}}</p>
                                                    <p class="float-right text-danger m-0">{{{remain end}}}</p>
                                                </div>
                                                <p class="text-center text-info font-weight-bold">{{format_number
                                                        current}}đ
                                                </p>
                                            </a>
                                        </div>
                                    {{/each}}

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" role="tabpanel" id="tab-2">
                        <div class="projects-horizontal">
                            <div class="container">
                                <div id="participatingAuctions" class="projects row">
                                    {{#each ../participate}}
                                        <div class="col-6 col-sm-6 col-lg-3">
                                            <a href="/detail/{{product}}">
                                                <img src="{{image}}" class="rounded img-fluid m-1" alt="image">
                                                <h5 class="text-center">{{name}} {{{new start}}}
                                                    {{#unless (equal status "bidding")}} <b>({{status}})</b>
                                                    {{/unless}}</h5>
                                                {{#if info }}
                                                    <p class="text-center m-0">{{{masked info}}}</p>
                                                {{else}}
                                                    <p class="text-center m-0">&nbsp; &nbsp;</p>
                                                {{/if}}
                                                <div class="clearfix">
                                                    <p class="float-left m-0">{{format_number cap}}</p>
                                                    <p class="float-right m-0">{{bids}} Bids</p>
                                                </div>
                                                <div class="clearfix">
                                                    <p class="float-left m-0">{{{time start}}}</p>
                                                    <p class="float-right text-danger m-0">{{{remain end}}}</p>
                                                </div>
                                                <p class="text-center text-info font-weight-bold">{{format_number
                                                        current}}
                                                </p>
                                            </a>
                                        </div>
                                    {{/each}}

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" role="tabpanel" id="tab-3">
                        <div class="projects-horizontal">
                            <div class="container">
                                <div id="wonAuctions" class="row projects">
                                    {{#each ../wonlist}}
                                        <div class="col-6 col-sm-6 col-lg-3">
                                            <a href="/detail/{{id}}">
                                                <img src="{{image}}" class="rounded img-fluid m-1" alt="image">
                                                <h5 class="text-center">{{name}}
                                                    {{{new start}}}{{#unless (equal status "bidding")}}
                                                        <b>({{status}})</b> {{/unless}}</i></h5>
                                                <p class="text-center m-0">{{{masked info}}}</p>
                                                <div class="clearfix">
                                                    <p class="float-left m-0">{{format_number cap}}</p>
                                                    <p class="float-right m-0">{{bids}} Bids</p>
                                                </div>
                                                <div class="clearfix">
                                                    <p class="float-left m-0">{{{time start}}}</p>
                                                    <p class="float-right text-danger m-0">{{{remain end}}}</p>
                                                </div>
                                                <p class="text-center text-info font-weight-bold">{{format_number
                                                        current}}
                                                </p>
                                            </a>
                                        </div>
                                    {{/each}}

                                </div>
                            </div>
                        </div>
                    </div>
                {{else}}

                    {{#if (equal ../session.user.privilege "seller")}}
                        <div class="tab-pane active" role="tabpanel" id="tab-1">
                            <div class="projects-horizontal">
                                <div class="container">
                                    <div id="watchList" class="row projects">
                                        {{#each ../watchlist}}
                                            <div class="col-6 col-sm-6 col-lg-3">
                                                <a href="/detail/{{id}}">
                                                    <img src="{{image}}" class="rounded img-fluid m-1" alt="image">
                                                    <h5 class="text-center">{{name}} {{{new start}}}
                                                        {{#unless (equal status "bidding")}} <b>({{status}})</b>
                                                        {{/unless}}</h5>
                                                    {{#if info }}
                                                        <p class="text-center m-0">{{{masked info}}}</p>
                                                    {{else}}
                                                        <p class="text-center m-0">&nbsp; &nbsp;</p>
                                                    {{/if}}
                                                    <div class="clearfix">
                                                        <p class="float-left m-0">{{cap}}$</p>
                                                        <p class="float-right m-0">{{bids}} Bids</p>
                                                    </div>
                                                    <div class="clearfix">
                                                        <p class="float-left m-0">{{{time start}}}</p>
                                                        <p class="float-right text-danger m-0">{{{remain end}}}</p>
                                                    </div>
                                                    <p class="text-center text-info font-weight-bold">{{current}}$
                                                    </p>
                                                </a>
                                            </div>
                                        {{/each}}
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" role="tabpanel" id="tab-2">
                            <div class="projects-horizontal">
                                <div class="container">
                                    <div id="participatingAuctions" class="row projects">
                                        {{#each ../participate}}
                                            <div class="col-6 col-sm-6 col-lg-3">
                                                <a href="/detail/{{id}}">
                                                    <img src="{{image}}" class="rounded img-fluid m-1" alt="image">
                                                    <h5 class="text-center">{{name}} {{{new start}}}
                                                        {{#unless (equal status "bidding")}} <b>({{status}})</b>
                                                        {{/unless}}</h5>
                                                    {{#if info }}
                                                        <p class="text-center m-0">{{{masked info}}}</p>
                                                    {{else}}
                                                        <p class="text-center m-0">&nbsp; &nbsp;</p>
                                                    {{/if}}
                                                    <div class="clearfix">
                                                        <p class="float-left m-0">{{cap}}$</p>
                                                        <p class="float-right m-0">{{bids}} Bids</p>
                                                    </div>
                                                    <div class="clearfix">
                                                        <p class="float-left m-0">{{{time start}}}</p>
                                                        <p class="float-right text-danger m-0">{{{remain end}}}</p>
                                                    </div>
                                                    <p class="text-center text-info font-weight-bold">{{current}}$
                                                    </p>
                                                </a>
                                            </div>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" role="tabpanel" id="tab-3">
                            <div class="projects-horizontal">
                                <div class="container">
                                    <div id="wonAuctions" class="row projects">
                                        {{#each ../wonlist}}
                                            <div class="col-6 col-sm-6 col-lg-3">
                                                <a href="/detail/{{id}}">
                                                    <img src="{{image}}" class="rounded img-fluid m-1" alt="image">
                                                    <h5 class="text-center">{{name}}
                                                        {{{new start}}}{{#unless (equal status "bidding")}}
                                                            <b>({{status}})</b> {{/unless}}</i></h5>
                                                    <p class="text-center m-0">{{{masked info}}}</p>
                                                    <div class="clearfix">
                                                        <p class="float-left m-0">{{cap}}$</p>
                                                        <p class="float-right m-0">{{bids}} Bids</p>
                                                    </div>
                                                    <div class="clearfix">
                                                        <p class="float-left m-0">{{{time start}}}</p>
                                                        <p class="float-right text-danger m-0">{{{remain end}}}</p>
                                                    </div>
                                                    <p class="text-center text-info font-weight-bold">{{current}}$
                                                    </p>
                                                </a>
                                            </div>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" role="tabpanel" id="tab-4">
                            <div class="projects-horizontal">
                                <div class="container">
                                    <div id="ongoingListed" class="row projects">
                                        {{#each ../ongoing}}
                                            <div class="col-6 col-sm-6 col-lg-3">
                                                <a href="/detail/{{id}}">
                                                    <img src="{{image}}" class="rounded img-fluid m-1" alt="image">
                                                    <h5 class="text-center">{{name}}
                                                        {{{new start}}}{{#unless (equal status "bidding")}}
                                                            <b>({{status}})</b> {{/unless}}</i></h5>
                                                    <p class="text-center m-0">{{{masked info}}}</p>
                                                    <div class="clearfix">
                                                        <p class="float-left m-0">{{cap}}$</p>
                                                        <p class="float-right m-0">{{bids}} Bids</p>
                                                    </div>
                                                    <div class="clearfix">
                                                        <p class="float-left m-0">{{{time start}}}</p>
                                                        <p class="float-right text-danger m-0">{{{remain end}}}</p>
                                                    </div>
                                                    <p class="text-center text-info font-weight-bold">{{current}}$
                                                    </p>
                                                </a>
                                            </div>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" role="tabpanel" id="tab-5">
                            <div class="projects-horizontal">
                                <div class="container">
                                    <div id="endedListed" class="row projects">
                                        {{#each ../soldlist}}
                                            <div class="col-6 col-sm-6 col-lg-3">
                                                <a href="/detail/{{id}}">
                                                    <img src="{{image}}" class="rounded img-fluid m-1" alt="image">
                                                    <h5 class="text-center">{{name}}
                                                        {{{new start}}}{{#unless (equal status "bidding")}}
                                                            <b>({{status}})</b> {{/unless}}</i></h5>
                                                    <p class="text-center m-0">{{{masked info}}}</p>
                                                    <div class="clearfix">
                                                        <p class="float-left m-0">{{cap}}$</p>
                                                        <p class="float-right m-0">{{bids}} Bids</p>
                                                    </div>
                                                    <div class="clearfix">
                                                        <p class="float-left m-0">{{{time start}}}</p>
                                                        <p class="float-right text-danger m-0">{{{remain end}}}</p>
                                                    </div>
                                                    <p class="text-center text-info font-weight-bold">{{current}}$
                                                    </p>
                                                </a>
                                            </div>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/if}}
                {{/if}}

            </div>
        </div>
    </div>
    </div>
        </div>
    {{/with}}
    </div>
    </div>
</main>
<script src="/public/assets/js/Profile-Edit-Form.js"></script>
<script src="/public/assets/js/bidderViewList.js"></script>